In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import integrate
from scipy import signal
import seaborn as sns
from matplotlib.ticker import StrMethodFormatter
from scipy import integrate
SMALL_SIZE = 16
MEDIUM_SIZE = 18
BIGGER_SIZE = 20

plt.rc('font', size=SMALL_SIZE)          # controls default text sizes
plt.rc('axes', titlesize=SMALL_SIZE)     # fontsize of the axes title
plt.rc('axes', labelsize=MEDIUM_SIZE)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('ytick', labelsize=SMALL_SIZE)    # fontsize of the tick labels
plt.rc('legend', fontsize=SMALL_SIZE)    # legend fontsize
plt.rc('figure', titlesize=BIGGER_SIZE)  # fontsize of the figure title

In [2]:
datosConcatenados=pd.read_csv("Filtrado_final.csv",sep=",",index_col=False)
datosConcatenados.head()

,id_anony,Anho,Ciclo,Cod.Asign,Asignatura,Asignatura Codificada,Semestre,Cod.Car.Sec,Cod.Car.Sec Codificado,Anho.Firma,...,Taller,Asistencia,4P_60,1R,2R,1F,2F,3F,Nota_Final,Aprobado
0,0,2012,1,2402,COMBUSTION,49,1,INT9MECANI,20,0,...,0,1,0,0,0,0,0,0,0,0
1,1,2012,1,2402,COMBUSTION,49,1,MEC9-OPT,33,2012,...,8,1,0,0,0,5,0,0,5,1
2,2,2012,1,2402,COMBUSTION,49,1,INT9MECANI,20,2012,...,9,1,0,0,0,5,0,0,5,1
3,3,2012,1,2402,COMBUSTION,49,1,MEC9-OPT,33,2012,...,8,1,0,0,0,1,2,0,2,1
4,4,2012,1,2402,COMBUSTION,49,1,MEC9-OPT,33,0,...,8,1,0,0,0,0,0,0,0,0

In [3]:
datosConcatenados.shape

(221921, 25)

In [4]:
Historico=pd.DataFrame(columns=['id_anony','Materia','Anho_F','ciclo_F','NotaFinal', 'P1_F','P2_F','T_F','NroCursadas'])
Historico.head()

Empty DataFrame
Columns: [id_anony, Materia, Anho_F, ciclo_F, NotaFinal, P1_F, P2_F, T_F, NroCursadas]
Index: []

In [5]:
materias=['CALCULO 1','CALCULO 2','CALCULO 3']

Idlists=[2838, 3669, 4166]

In [6]:
for estudiante in Idlists:
    print(estudiante)
    #Aqui se almacena todos los datos disponibles de datosConcatenados de los alumnos que pertenecen a la lista Idlists
    datosEstudiante=datosConcatenados[datosConcatenados['id_anony']==estudiante]
    #Aqui se obtienen TODAS las materias que cursan este conjunto de alumnos
    #materias=np.unique(datosEstudiante.Asignatura.values)
    
    for materia in materias:
        print(materia)
        #Aqui se almacena todas las ocasiones en la que el estudiante curso la materia
        EstudianteMateria=datosEstudiante[datosEstudiante['Asignatura']==materia]
        
        
        #ordenar por aÃ±o y ciclo colocando primero la ultima vez que curso
        EstudianteMateria=EstudianteMateria.sort_values(['Anho', 'Ciclo'],ascending=(False,False))
        
        for index, row in  EstudianteMateria.iterrows():
        #if(True):
              #ultima cursada
              
              Historico['id_anony']=row['id_anony']
              Historico['Materia']=row['Asignatura']
              Historico['Anho_F']=row['Anho']
              Historico['ciclo_F']=row['Ciclo']
              Historico['NotaFinal']=row['Nota_Final']
              Historico['P1_F']=row['1P']
              Historico['P2_F']=row['2P']
              Historico['T_F']=row['Taller']
              
              #aux=[row['id_anony'],row['Asignatura'],row['Anho'],row['Ciclo'],row['Nota_Final'],row['1P'],row['2P'],row['Taller'],0]
              
              #Historico.append(aux)
              #Historico['P1']=row
              #Historico['P2']=row
              #Historico['Taller']=row
        
        Historico['NroCursadas']=len(EstudianteMateria)
        #Historico['VecesFirma']=len(registros)
        #Historico['VecesFirma']=len(registros)
    #Historico=pd.concat([Historico, registros], axis=0)

2838
CALCULO 1
CALCULO 2
CALCULO 3
3669
CALCULO 1
CALCULO 2
CALCULO 3
4166
CALCULO 1
CALCULO 2
CALCULO 3

In [7]:
Historico

Empty DataFrame
Columns: [id_anony, Materia, Anho_F, ciclo_F, NotaFinal, P1_F, P2_F, T_F, NroCursadas]
Index: []

In [8]:

#datosEstudiante.head()